/*------------------------------------------------------------------------------
     Sidebar
------------------------------------------------------------------------------*/

.sidebar-module {
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-bottom: none;
}

.sidebar-module ul {
    margin: 0px;
}

.sidebar-module.notice {
    background: #fafafb;
    border: 1px solid #CACACA;
    border-radius: 4px;
    line-height: 1.5em;
}

.sidebar-module li {
    list-style-type: none;
}

.sidebar-module ul h3, .headlines > li {
    margin: 0px;
    color: #666;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.headlines li:hover {
    background-color: #fdfdfd;
}

.sidebar-module h3 a {
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    color: #333;
    font-size: 13px;
}

.sidebar-module h3 a:hover {
    /*text-decoration: none;*/
    color: #428bca;
}

.sidebar-module ul ul li {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    color: #666;
    background-color: #f9f9f9;
}

.sidebar-module .disable > a {
    color: #333;
    border-left: 2px solid #d8d8d8;
    padding-left: 29px;
}

.sidebar-module ul ul li a {
    padding: 8px 0px 7px 31px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.sidebar-module ul ul li a:hover {
    color: #428BCA;
}

.sidebar-module ul ul li a:focus {
    color: #428BCA;
}

/****************************/
/*  Expandable List Module  */
/****************************/

.sidebar-module a + a {
    padding-left: 27px;
}

.sidebar-module h3 {
    position: relative;
}

.arrow-btn {
    width: 16px;
    color: #9a9a9a;
}

/*active li*/
.activeli {
    border-right: 2px solid #d26911;
}