.melogo p {
    text-align: center;
    font-size: 100px;
    padding-top: 50px;
}

.mesearch {
    padding-left: 284px;
    padding-right: 284px;
}

.mesearch .input-group {
    width: 585px;
}
.metip{
    padding-top: 20px;
    margin-bottom: 50px;
}
.metip p{
    text-align: center;
    font-size: 13px;
}