.row-left {
    width: 25%;
    float: left;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.row-right {
    width: 73%;
    margin: 0 0 0 10px;
    float: left;
    border-radius: 8px 8px 0 0;
}

.person-info-header {
    border: 1px solid #ddd;
    background: #f9f9f9;
    font-weight: bold;
    border-bottom: none;
    padding: 8px 10px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    position: relative;
}
.person-info-header2 {
    border: 1px solid #ddd;
    background: #f9f9f9;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    position: relative;
}

.person-info-setlist {

}
a.list-group-item:hover, a.list-group-item:focus {
    background-color: #fff;
}

.list-group-items{
    color: #0084B4 !important;
    font-weight:bold;
}

.list-group-item {
    font-size: 14px;
    padding: 5px 15px;
}

.list-group-item span {
    float: right;
    display: inline-block;
    font-size: 20px;
}

.setting-content {

}

.setting-header {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
}

.setting-header h4, .setting-header p {
    color: #0084B4;
}

.setting-detail {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
}

.setting-detail label {
    font-size: 13px;
    color: #666;
}

.user-avatar-info {
    display: inline-block;
    float: left;
    margin-left: 20px;
}

.user-avatar-info p {
    font-size: 13px;
    margin-top: 10px;
    color: #666;
}

.clearboth {
    clear: both;
}
.left{
    float: left;
}
.margintop{
    margin-top: 80px;
}
.form-control-width{
    width: 440px;
}
