.row-left {
    width: 25%;
}

.row-right {
    width: 74%;
}

.person-info-header {
    height: 100px;
    background-color: #79BEF1;
    border-radius: 8px 8px 0 0;
}

.person-info-detail {
    height: 50px;
    border: 1px solid #ccc;
    border-top: none;
}
.person-info-setlist{
    margin-top: 20px;
}
.list-group-item a span{
    font-size: 20px;
    float: right;
}
